.block__h1 {
  font-size: 45px;
  line-height: 60px;
  color: #1B1A17;
  font-family: Playfair Display, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.block__h3 {
  padding-top: 16px;
  padding-bottom: 39px;
  font-size: 30px;
  line-height: 40px;
  color: #1B1A17;
  font-family: Playfair Display, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.block__description {
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: rgba(27,26,23,.82);
  width: 260px;
  position: relative;
  display: block;
}
