.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card__average {
  width: 370px;
  height: 467px;
  position: relative;
  background: #FDFDFB;
  margin-bottom: 40px;
  box-sizing: border-box;

  &:before {
    content: "";
    box-shadow: -2px 1px 1px 1px rgba(85,82,72,.23);
    width: 313px;
    height: 313px;
    top: 77px;
    left: 28px;
    position: absolute;
    border-radius: 180px;
    transform: matrix(-1,0,0,1,0,0);
  }
}

.card__big {
  width: 760px;
  height: 467px;
  position: relative;
  background: #FDFDFB;
  margin-bottom: 40px;

  &:before {
    content: "";
    width: 239px;
    height: 467px;
    position: absolute;
    left: 461px;
    mix-blend-mode: normal;
    transform: matrix(1,0,0,1,0,0);
    background: linear-gradient(180deg,rgba(234,227,212,0) 0%,#eae3d4 100%);
    border-radius: 0 580px 508px 0;
  }
}

.card__small {
  width: 565px;
  height: 223px;
  position: relative;
  background: #FDFDFB;
  margin-bottom: 40px;

  &:before {
    content: "";
    box-shadow: -2px 1px 1px 1px rgba(85,82,72,.23);
    width: 220px;
    height: 220px;
    left: 231px;
    position: absolute;
    border-radius: 180px;
    transform: matrix(-1,0,0,1,0,0);
  }
}

.card__name {
  font-family: Playfair Display, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(27, 26, 23, 0.82);
  margin-left: 40px;
  margin-top: 40px;
  text-transform: uppercase;
  display: block;
  width: 120px;
}

.card__price {
  margin-left: 40px;
  font-family: Prata, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: rgba(27, 26, 23, 0.82);
  width: 120px;
  display: block;
}

.card__average--item, .card__average--image {
  width: 289px;
  height: 298px;
  margin: 0 auto;
}

.card__item {
  width: 250px;
  margin-top: 17px;
}

.card__link {
  font-family: Playfair Display, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #1B1A17;
  padding-left: 88px;
  display: block;
  padding-top: 10px;
  position: relative;

  &:before {
    content: "";
    border-bottom: 1px solid #8B8371;
    position: absolute;
    width: 30px;
    left: 46px;
    top: 21px;
  }
}

.card__big--name {
  display: block;
  padding: 55px 0 0 55px;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: rgba(27, 26, 23, 0.82);
  width: 150px;
}

.card__big--price {
  display: block;
  padding-top: 2px;
  padding-left: 55px;
  font-family: Prata, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: rgba(27, 26, 23, 0.82);
  width: 150px;
}

.card__big--image {
  width: 470px;
  height: 472px;
  position: absolute;
  left: 230px;
  top: 0;
}

.card__small--image {
  position: absolute;
  left: 209px;
  top: 0;
}

.card__small--item {
  width: 254px;
  height: 220px;
}
