.index {
  position: relative;
  padding: 79px 0 35px 0;
  background-color: white;
  z-index: 1000;
  width: 1366px;
  margin: 0 auto;
}

.index__a {
  padding: 0 98px;
}

.index__h2 {
  font-family: Playfair Display, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 43px;
  color: #1B1A17;
  text-align: center;
}

.index__link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #444240;
  display: flex;
  justify-content: flex-end;
  height: 25px;
  position: relative;

  &:before {
    content: "";
    border-bottom: 1px solid #C4C0B6;
    position: absolute;
    top: 22px;
    width: 100px;
  }
}

.index__catalog {
  padding: 30px 98px 0 98px;
}
