.index {
  position: relative;
  padding: 79px 98px 35px 98px;

  &::before {
    content: "";
    position: absolute;
    background: #fff;
    width: 331px;
    height: 76px;
    top: 0;
    left: 691px;
    z-index: 300;
  }
}

.index__h2 {
  font-family: Playfair Display, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 43px;
  color: #1B1A17;
  text-align: center;
}

.index__link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #444240;
  display: flex;
  justify-content: flex-end;
}

.index__catalog {
  padding-top: 30px;
}
