.page-header {
  padding-top: 35px;
  padding-left: 55px;
  padding-right: 55px;
}

.page__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.page__menu {
  position: absolute;
  background-image: url("../img/menu.svg");
  width: 18px;
  height: 18px;
  top: 4px;
}

.page-header__logo {
  margin-left: 36px;
  width: 104px;
  height: 26px;
}

.page-header__icon {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
  min-height: 22px;
}

