.social__vertical {
  box-sizing: border-box;
  position: absolute;
  top: 317px;
  width: 18px;
  height: 75px;
}

.social__item {
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.social__list {
  width: 93px;
  display: flex;
  justify-content: space-between;
}

.social__link {
  font-size: 0;
}
